@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

@font-face {font-family: "Tiempos Text Regular"; src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot"); src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff") format("woff"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.svg#Tiempos Text Regular") format("svg"); }

* {
  background-color: whitesmoke;




}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-family: "Tiempos Text Regular";
  background-color: whitesmoke;

}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
  font-family: "Tiempos Text Regular";
  background-color: whitesmoke;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

.snipcart-add-item {
  align-items: center;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.25),
   0px -4px 6px 0 rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  display: flex;
  
  justify-content: center;
 
  background: linear-gradient(-45deg, rgba(126, 125, 125, 0.22), rgba(255, 255, 255, 0.527));
  border: transparent;
  padding: 10px 25px;
  color: gray;

  font-family: "Tiempos Text Regular";
  text-decoration: none;
}

.snipcart-checkout {
  align-items: center;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.25),
   0px -4px 6px 0 rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  display: flex;
  
  justify-content: center;
 
  background: linear-gradient(-45deg, rgba(126, 125, 125, 0.22), rgba(255, 255, 255, 0.527));
  border: transparent;
  padding: 10px 25px;
  color: gray;

  font-family: "Tiempos Text Regular";
  text-decoration: none;
  
}

a {
  text-decoration: none;
  font-size: 16px;

}


@media only screen and (max-width: 600px) {
  .branding {
    font-size: 18px;
    color: gray;
  }

  #banner {
    font-size: 18px;
    color: gray;
  }
}

#price {
  margin-top: 0;
  font-size: 16px;
}

#horse {
  margin-bottom: 0;
  font-size: 16px;
}

#but {
  font-family: "Tiempos Text Regular"; 
  margin-left: 0px;
  margin-bottom: 23px;
}

#shadow {
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}